.add_lead_modal_btn{
    background-color: #555555;
    float: left;
}

.update_lead_modal_btn{
    background-color: #555555;
    float: left;
}

.delete_lead_modal_btn{
    background-color: #555555;
    float: left;
}
.leads_table{
    display: flex;
}