.add_lead_modal_btn{
    background-color: black;
    color:white;
    float: left;
}

.update_lead_modal_btn{
    background-color: black;
    color:white;
    float: left;
    margin:5px;
}

.delete_lead_modal_btn{
    background-color: black;
    color:white;
    float: left;
    margin:5px;
}
.leads_table{
    display: flex;
}